@using TechAcadStudentsMVC.Models 
@model List<Instructor>

@{
    ViewBag.Title = "Instructor";
}

<h2>Instructors</h2>

<h5>
    Details for Instructor with ID: @ViewBag.Id
</h5>

@foreach(Instructor instructor in Model)
            {
                <h4>@instructor.FirstName</h4>
            }



